* {
    margin: auto;
    padding: auto;
}

body{
    
}

.primario {
    background-image: url(../img/banne.jpg);
    height: 1000px;
}

.filho {
    background-color: #0d477a5d;
    height: 1000px;
}

.logo img {
    margin-top: 30px;
    padding-left: 90px;
}

.menu ul {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    padding-left: 900px;
    font-size: 18px;
}

.menu ul li {
    list-style: none;
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color:#e9f2f3;
}

h1 {
    text-align: center;
    margin-top: 350px;
    color: #e9f2f3;
    font-size: 70px;
}

p {
    text-align: center;
    color: #e9f2f3;
    font-size: 20px;
}

button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 150px;
    height: 25px;
    background-color: #2175BF;
}

button a{
    color: #e9f2f3;
    border: 5px;
    border-color: #e9f2f3;
    text-decoration: none;
    font-size: 14px;
}
    
.colunas1{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 700px;
    background-color:  #0d477a5d;
}

.titulo1{
    color: black;
    font-size: 50px;
    margin-top: 1px;
}

.para1{
    color: black;
}




.imag img{
    width: 400px;
}

.blog{
    color: rgb(110, 110, 110);
}

.fileira1 p{
    color: rgb(110, 110, 110);
    font-size: 17px;
}

.fileira1 img{
    width: 350px;
    height: 200px;
}

.fileira1{
    display: inline-flex;
    text-align: center;
    align-items: center;
}

.blog1{
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
}

.blog2{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 55px;
}

.blog3{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 24px;
}

.letra{
    font-size: 22px;
    color: #222;
}


.fileira2 h2{
    color: black;
    font-size: 22px;
}

.fileira2 p{
    color: rgb(110, 110, 110);
    font-size: 17px;
}

.fileira2{
    display: inline-flex;
    align-items: center;
    text-align: center;
}

.fileira2 img{
    width: 350px;
}

.blog4{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 50px;
}

.blog5{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 50px;
}

.blog6{
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 50px;
}

.laramara{
    margin-left: 43%;
    padding: 10px;
}

.itens{
    display: inline-flex;
}


.letra1{
    color: black;
}

.fundo{
    background-image: url();
    color: black;
}